body {
    margin: 0;
    padding: 0;
    background-color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 2px;
    border: 2px solid black;
    background-color: #ccc;
}

.cell {
    background-color: white;
    border: 1px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    position: relative;
}

.cell.active {
    background-color: #e0f7fa;
}

.character {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #2196F3;
    border-radius: 50%;
}